table, td, th {
    border: solid thin gray;
    border-collapse: collapse;
}

td, th {
    padding: 10px;
}

th {
    text-align: left;
    background-color: midnightblue;
    color: white;
}

tr:hover {
    background-color: lightblue;
}
